*{
    margin: 0;
    padding: 0;
}
.container
{
    margin: 0;
    padding: 0;
    
    width: 100%;
    min-width: 300px;
    max-width: 1920px;
    height: auto;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-family: sans-serif;
}
@media (max-width: 1200px) 
{
    .container {
        max-width: 1140px;
    }
}
@media (max-width: 992px) 
{
    .container {
        max-width: 960px;
    }
}
@media (max-width: 768px) 
{
    .container {
        max-width: 720px;
    }
}
@media (max-width: 576px) 
{
    .container {
        max-width: 540px;
    }
}
@media (max-width: 400px) 
{
    .container {
        max-width: 100%;
        padding: 0 15px;
        box-sizing: border-box;
    }
}

.header_img
{
    width: 100%;
}
.container_element
{
    margin-top: 3%;
    margin-bottom: 3%;

    min-width: none;
    max-width: 1020px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    word-wrap: break-word;
}
.container_element_text:last-child
{
    align-self: start;
}
.container_element_startText
{
    align-self: start;
}
.container_hero 
{
    min-width: 100%;
    max-width: 1920px;
    height: 400px;  
    min-height: 350px;
    
    background: url('./image/head.png') no-repeat center center;
    background-size: cover;  
    
    color: white;
    font-size: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container_hero_image2 
{
    background: url('./image/Hero.png') no-repeat center center;
    background-size: cover;
    min-height: 350px;  
}
.container_hero_background
{
    background-color: #333333 ;
}
.container_members
{
    min-width: none;
    max-width: 1920px;

    background: #EEEEEE;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.container_members_cards
{
    min-width: none;
    max-width: 1120px;
    min-height: 350px;
    max-height: 400px;

    display:flex;
    flex-wrap: wrap;
    gap: 2%;
}
.container_members_cards_card
{
    background-color: white;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
    
    border-radius: 8px;
}
.container_hero_text
{
    min-width: none;
    max-width: 1620px;

    color: white;

}
.Image_text
{
    color: white;
    font-size: 42px;
}
.Image_text_bold
{
    font-weight: bold;
}
.Image_text_Green
{
    color: #007765;
    font-size: 42px;
    font-weight: bold;
}